.HomePage {
  background-color: white;
  height: 270vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .homeSections {
    height: 70vh;
    width: 90%;

    margin-top: 10px;
  }
  #homeSection1 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 20%;
    }
    h6 {
      height: 10%;
    }
    #homePic1 {
      height: 70%;
      width: 90%;
    }
  }

  .Carousel {
    height: 95vh;
    background-color: beige;
    .CarouselItem {
      position: relative;
      height: 85vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .carouselImageDiv {
        display: flex;

        width: 100%;
        justify-content: space-evenly;
        #carouselImages {
          width: 45%;
          height: 500px;
          animation: fadeInAnimation 1s;
        }
        aside {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 45%;
          flex-direction: column;
        }
      }
      .caption {
        height: 100%;

        width: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  #homeSection3 {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/743/451/original/earth-doodle-continuous-line-freehand-drawing-free-png.png);
    background-size: cover;
    color: white;
  }
}

@media (max-width: 900px) {
  .HomePage {
    .homeSections {
      height: 80vh;
    }
    #homeSection1 {
      justify-content: space-around;
      h1 {
        font-size: 30px;
      }
      h6 {
        margin-top: -50px;
      }
      #homePic1 {
      }
    }
    .Carousel {
      height: 100vh;

      width: 100vw;
      .CarouselItem {
        width: 100vw;
        height: 90vh;
        align-items: flex-start;
        .carouselImageDiv {
          flex-direction: column;
          width: 100vw;
          #carouselImages {
            width: 100%;
          }
          aside {
            width: 100vw;
            height: 60vh;
          }
        }
        .caption {
          height: 10vw;
          width: 10vw;
        }
      }
    }
    #homeSection3 {
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
